<!DOCTYPE html>
<html th:fragment="layout (head, body)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css">
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/popper.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <div th:include="${head}" th:remove="tag"></div>
</head>

<body>
<div th:include="partials/icomoon"></div>
<div th:include="partials/navbar"></div>

<div th:include="${body}" th:remove="tag"></div>
</body>

</html>
