body {
    margin: 0;
}

canvas {
    width: 100%;
    height: 100%
}

#esp_status_table {
    min-width: 300px;
    max-width: 400px;
}

#three_js_container {
    overflow:hidden;
    width:300px;
    height:300px;
}

#left_microphone_mode_label {
    margin-right: 40px !important;
}
