<!DOCTYPE HTML>
<html th:replace="~{partials/layout :: layout(~{::head}, ~{::body})}">
<head>
    <title>Laser</title>
    <link rel="stylesheet" th:href="@{/css/laser.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/bootstrap4-toggle.min.css}" type="text/css">
    <script th:src="@{/js/three.js}"></script>
    <script th:src="@{/js/bootstrap4-toggle.min.js}"></script>
    <script type="module" th:src="@{/js/laser.js}"></script>
</head>
<body>
<div class="container p-4">
    <div class="row">
        <div class="col">
            <div class="col">
                <div class="card">
                    <h4 class="h4 card-header"><b>Laser Status</b> <span class="badge badge-pill badge-danger" id="esp_connection_status">DISCONNECTED</span></h4>
                    <div class="card-body">
                        <div class="card" id="esp_status_table">
                            <table class="table table-striped">
                                <tr>
                                    <td>Pitch</td>
                                    <td><span class="badge badge-pill badge-success" id="esp_status_pitch">0</span></td>
                                </tr>
                                <tr>
                                    <td>Pitch Control</td>
                                    <td><span class="badge badge-pill badge-success" id="esp_status_pitch_control">0</span></td>
                                </tr>
                                <tr>
                                    <td>Yaw</td>
                                    <td><span class="badge badge-pill badge-success" id="esp_status_yaw">0</span></td>
                                </tr>
                                <tr>
                                    <td>Yaw Control</td>
                                    <td><span class="badge badge-pill badge-success" id="esp_status_yaw_control">0</span></td>
                                </tr>
                                <tr>
                                    <td>Master Connection</td>
                                    <td><span class="badge badge-pill badge-success" id="esp_status_master">true</span></td>
                                </tr>
                            </table>
                            <button class="btn btn-primary" id="refresh_esp_status" type="button">
                                Refresh
                            </button>
                            <label for="auto_refresh_range">Auto Refresh Interval:
                                <span class="badge badge-pill badge-success" id="auto_refresh_range_label">1</span> seconds
                            </label>
                            <input class="custom-range" id="auto_refresh_range" max="100" min="0.1" step="0.1"
                                   type="range"
                                   value="1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h4 class="h4 card-header"><b>Laser Control</b></h4>
                <div class="card-body">
                    <div style="min-width: 200px;">
                        <form>
                            <label for="pitch_range">Pitch</label>
                            <label for="pitch_range"><span class="badge badge-pill badge-success"
                                                           id="pitch_value_label">0</span></label>
                            <input class="custom-range" id="pitch_range" max="180" min="0"
                                   type="range"
                                   value="0">

                            <label for="yaw_range">Yaw</label>
                            <label for="yaw_range"><span class="badge badge-pill badge-success"
                                                         id="yaw_value_label">0</span></label>
                            <input class="custom-range" id="yaw_range" max="630" min="0"
                                   type="range"
                                   value="0">
                            <hr>
                            <label for="laser_mode_switch">Control Mode:</label>
                            <div class="custom-control custom-switch">
                                <label for="laser_mode_switch" id="left_microphone_mode_label">Microphone</label>
                                <input class="custom-control-input" id="laser_mode_switch" type="checkbox" th:checked="${laser_control_mode_checked}">
                                <label class="custom-control-label" for="laser_mode_switch">Manual</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h4 class="h4 card-header"><b>Laser Visualization</b></h4>
                <div class="card-body">
                    <div id="three_js_container"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
