<!DOCTYPE HTML>
<html th:replace="~{partials/layout :: layout(~{::head}, ~{::body})}">
<head>
    <title>Microphone Graph</title>
    <link rel="stylesheet" th:href="@{/css/Chart.css}" type="text/css">
</head>
<body>
<script th:src="@{/js/Chart.js}"></script>
<canvas height="300" id="microphoneChart0" width="1600"></canvas>
<canvas height="300" id="microphoneChart1" width="1600"></canvas>
<canvas height="300" id="microphoneChart2" width="1600"></canvas>
<canvas height="300" id="noiseIntensityChart" width="1600"></canvas>
<script>
    var URL = 'http://localhost:8080/microphone/';
    var charts = [];
    charts[0] = initializeChart(0);
    charts[1] = initializeChart(1);
    charts[2] = initializeChart(2);

    // Noise Intensity Chart
    var noiseIntensityChart = initializeNoiseIntensityChart();

    updateCharts();

    function initializeNoiseIntensityChart() {
        var ctx = document.getElementById("noiseIntensityChart").getContext('2d');
        var intensities = [];
        for (var i = 0; i < 3; i++) {
            var url = URL + i + "/noise-intenity";
            intensities.push(JSON.parse(httpGet(url)));
        }
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Mic 0", "Mic 1", "Mic 2"],
                datasets: [{
                    data: intensities,
                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Filtered Noise Intensity'
                },
                responsive: false,
                animation: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 10000000,
                            stepSize: 1000000
                        }
                    }]
                },
                legend: {
                    display: false
                }
            }
        });
        return myChart;
    }

    function initializeChart(id) {
        var chartId = 'microphoneChart' + id;
        console.log(chartId);
        var ctx = document.getElementById(chartId).getContext('2d');
        var url = URL + id + "/amplitudes";
        var microphoneData = JSON.parse(httpGet(url));
        var amplitudes = getAmplitudes(microphoneData);
        var frequencies = getFrequencies(microphoneData);
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: frequencies,
                datasets: [{
                    data: amplitudes,
                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Microphone ' + id + ': Spectrum'
                },
                responsive: false,
                animation: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 1500000,
                            stepSize: 500000
                        }
                    }]
                },
                legend: {
                    display: false
                }
            }
        });
        return myChart;
    }

    function httpGet(url) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", url, false); // false for synchronous request
        xmlHttp.send(null);
        return xmlHttp.responseText;
    }

    function getAmplitudes(json) {
        var amplitudes = [];
        for (var i = 0; i < json.length; i++) {
            amplitudes.push(json[i].amplitude);
        }
        return amplitudes;
    }

    function getFrequencies(json) {
        var frequencies = [];
        for (var i = 0; i < (json.length); i++) {
            frequencies.push(json[i].frequency);
        }
        return frequencies;
    }

    function updateCharts() {
        // amplitude & frequency charts
        for (var i = 0; i < charts.length; i++) {
            var microphoneData = JSON.parse(httpGet(URL + i + "/amplitudes"));
            var amplitudes = getAmplitudes(microphoneData);
            charts[i].data.datasets[0].data = amplitudes;
            charts[i].update();
        }
        // noise intensity chart
        var intensities = []
        for (var i = 0; i < 3; i++) {
            intensities.push(JSON.parse(httpGet(URL + i + "/noise-intensity")));
        }
        noiseIntensityChart.data.datasets[0].data = intensities;
        noiseIntensityChart.update();

        setTimeout(updateCharts, 30);
    }
</script>


</body>
</html>
